/* Write your CSS code here. */
img {
  height: 40px;
  margin: 10px;
}
.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.sub {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
